{
  "name": "allabordo",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "node_modules/bootstrap/js",
      "node_modules/bootstrap/scss",
      "node_modules",
      "node_modules/bootstrap"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/progress.scss",
      "imports": [
        "scss/_functions.scss",
        "scss/_mixins.scss",
        "scss/_variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "svg",
      "shtml",
      "scss"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/allabordo",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.borealstudio.mx",
      "port": 21,
      "user": "borealweb@borealstudio.mx",
      "password": "80r34l_web"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "css/bootstrap.css",
        "ctime": "2018-08-20T23:58:48.000Z",
        "mtime": "2018-08-20T23:58:48.000Z",
        "size": 173673
      },
      {
        "file": "css/estilo.css",
        "ctime": "2018-09-10T22:57:46.000Z",
        "mtime": "2018-09-10T22:57:46.000Z",
        "size": 16867
      },
      {
        "file": "css/forms.css",
        "ctime": "2018-08-31T17:24:29.000Z",
        "mtime": "2018-08-31T17:24:29.000Z",
        "size": 8628
      },
      {
        "file": "css/forms2.css",
        "ctime": "2018-08-31T17:24:24.000Z",
        "mtime": "2018-08-31T17:24:24.000Z",
        "size": 5153
      },
      {
        "file": "css/inputs.css",
        "ctime": "2018-08-31T17:25:47.000Z",
        "mtime": "2018-08-31T17:25:47.000Z",
        "size": 2719
      },
      {
        "file": "css/inputs2.css",
        "ctime": "2018-08-31T17:25:14.000Z",
        "mtime": "2018-08-31T17:25:14.000Z",
        "size": 2720
      },
      {
        "file": "img/AllAbordoBlanco.svg",
        "ctime": "2018-07-23T18:59:56.000Z",
        "mtime": "2018-07-23T18:59:55.000Z",
        "size": 10748
      },
      {
        "file": "img/AllAbordoLogo.svg",
        "ctime": "2018-07-12T00:40:07.000Z",
        "mtime": "2018-07-12T00:40:07.000Z",
        "size": 12999
      },
      {
        "file": "img/back-slide.jpg",
        "ctime": "2018-07-12T18:35:05.000Z",
        "mtime": "2018-07-12T18:35:05.000Z",
        "size": 754009
      },
      {
        "file": "img/ofertas-correo.png",
        "ctime": "2018-07-23T18:01:03.000Z",
        "mtime": "2018-07-23T18:01:03.000Z",
        "size": 2088
      },
      {
        "file": "img/slide.jpg",
        "ctime": "2018-07-25T16:55:25.000Z",
        "mtime": "2018-07-25T16:55:24.000Z",
        "size": 770791
      },
      {
        "file": "img/solicitatutarjeta.jpg",
        "ctime": "2018-09-13T23:28:42.000Z",
        "mtime": "2018-09-13T23:28:42.000Z",
        "size": 132201
      },
      {
        "file": "img/van-slide.png",
        "ctime": "2018-07-12T19:03:29.000Z",
        "mtime": "2018-07-12T19:03:28.000Z",
        "size": 164509
      },
      {
        "file": "img/vectores/AmericanExpress.svg",
        "ctime": "2018-07-23T16:48:18.000Z",
        "mtime": "2018-07-23T16:48:17.000Z",
        "size": 8993
      },
      {
        "file": "img/vectores/bus-boleto.svg",
        "ctime": "2018-07-13T18:57:34.000Z",
        "mtime": "2018-07-13T18:57:33.000Z",
        "size": 3024
      },
      {
        "file": "img/vectores/carro-viaje.svg",
        "ctime": "2018-07-13T18:57:59.000Z",
        "mtime": "2018-07-13T18:57:58.000Z",
        "size": 3760
      },
      {
        "file": "img/vectores/envia-paq.svg",
        "ctime": "2018-07-13T18:58:11.000Z",
        "mtime": "2018-07-13T18:58:11.000Z",
        "size": 3227
      },
      {
        "file": "img/vectores/f1pasajeros.svg",
        "ctime": "2018-07-14T00:24:10.000Z",
        "mtime": "2018-07-14T00:24:09.000Z",
        "size": 930
      },
      {
        "file": "img/vectores/f2pasajeros.svg",
        "ctime": "2018-07-16T22:41:24.000Z",
        "mtime": "2018-07-16T22:41:23.000Z",
        "size": 1831
      },
      {
        "file": "img/vectores/facebook.svg",
        "ctime": "2018-07-23T18:56:58.000Z",
        "mtime": "2018-07-23T18:56:57.000Z",
        "size": 1422
      },
      {
        "file": "img/vectores/factura.svg",
        "ctime": "2018-07-23T19:02:35.000Z",
        "mtime": "2018-07-23T19:02:35.000Z",
        "size": 2185
      },
      {
        "file": "img/vectores/faq.svg",
        "ctime": "2018-07-23T19:01:50.000Z",
        "mtime": "2018-07-23T19:01:50.000Z",
        "size": 3069
      },
      {
        "file": "img/vectores/flecha-der.svg",
        "ctime": "2018-07-12T23:07:01.000Z",
        "mtime": "2018-07-12T23:07:01.000Z",
        "size": 1476
      },
      {
        "file": "img/vectores/flecha-izq.svg",
        "ctime": "2018-07-12T23:06:50.000Z",
        "mtime": "2018-07-12T23:06:50.000Z",
        "size": 1566
      },
      {
        "file": "img/vectores/IG.svg",
        "ctime": "2018-07-23T18:56:49.000Z",
        "mtime": "2018-07-23T18:56:48.000Z",
        "size": 5078
      },
      {
        "file": "img/vectores/inicio-ses.svg",
        "ctime": "2018-07-12T00:26:24.000Z",
        "mtime": "2018-07-12T00:26:23.000Z",
        "size": 2830
      },
      {
        "file": "img/vectores/MasterCard.svg",
        "ctime": "2018-07-23T16:48:05.000Z",
        "mtime": "2018-07-23T16:48:05.000Z",
        "size": 9928
      },
      {
        "file": "img/vectores/paypal.svg",
        "ctime": "2018-07-23T16:47:47.000Z",
        "mtime": "2018-07-23T16:47:46.000Z",
        "size": 8886
      },
      {
        "file": "img/vectores/pol-viaje.svg",
        "ctime": "2018-07-23T19:02:25.000Z",
        "mtime": "2018-07-23T19:02:24.000Z",
        "size": 2865
      },
      {
        "file": "img/vectores/rast-paq.svg",
        "ctime": "2018-07-23T17:15:27.000Z",
        "mtime": "2018-07-23T17:15:26.000Z",
        "size": 4895
      },
      {
        "file": "img/vectores/relleno-radio.svg",
        "ctime": "2018-07-14T00:53:26.000Z",
        "mtime": "2018-07-14T00:53:25.000Z",
        "size": 613
      },
      {
        "file": "img/vectores/twitter.svg",
        "ctime": "2018-07-23T18:57:03.000Z",
        "mtime": "2018-07-23T18:57:02.000Z",
        "size": 2347
      },
      {
        "file": "img/vectores/Visa.svg",
        "ctime": "2018-07-23T16:47:58.000Z",
        "mtime": "2018-07-23T16:47:58.000Z",
        "size": 4430
      },
      {
        "file": "index.html",
        "ctime": "2018-07-23T22:56:52.000Z",
        "mtime": "2018-07-23T22:56:52.000Z",
        "size": 10285
      },
      {
        "file": "js/bootstrap.min.js",
        "ctime": "2018-07-11T18:28:38.000Z",
        "mtime": "2018-04-30T15:04:32.000Z",
        "size": 50731
      },
      {
        "file": "include/menu.htm",
        "ctime": "2018-09-14T00:01:04.000Z",
        "mtime": "2018-09-14T00:01:04.000Z",
        "size": 2885
      },
      {
        "file": "include/footer.htm",
        "ctime": "2018-09-14T17:07:44.000Z",
        "mtime": "2018-09-14T17:07:44.000Z",
        "size": 3820
      },
      {
        "file": "index.shtml",
        "ctime": "2018-09-11T18:13:05.000Z",
        "mtime": "2018-09-11T18:13:05.000Z",
        "size": 27990
      },
      {
        "file": "img/heronosotros.jpg",
        "ctime": "2018-07-23T23:18:31.000Z",
        "mtime": "2018-07-23T23:18:30.000Z",
        "size": 503883
      },
      {
        "file": "nosotros.shtml",
        "ctime": "2018-08-17T19:37:45.000Z",
        "mtime": "2018-08-17T19:37:45.000Z",
        "size": 6171
      },
      {
        "file": "img/Quienessomos.jpg",
        "ctime": "2018-07-23T23:30:35.000Z",
        "mtime": "2018-07-23T23:30:34.000Z",
        "size": 269447
      },
      {
        "file": "img/vectores/trofeo.svg",
        "ctime": "2018-07-24T00:28:58.000Z",
        "mtime": "2018-07-24T00:28:57.000Z",
        "size": 7620
      },
      {
        "file": "img/vectores/fb-rosa.svg",
        "ctime": "2018-07-24T17:25:30.000Z",
        "mtime": "2018-07-24T17:25:29.000Z",
        "size": 1332
      },
      {
        "file": "img/vectores/tw-rosa.svg",
        "ctime": "2018-07-24T17:25:38.000Z",
        "mtime": "2018-07-24T17:25:37.000Z",
        "size": 2312
      },
      {
        "file": "img/vectores/ig-rosa.svg",
        "ctime": "2018-07-24T17:25:46.000Z",
        "mtime": "2018-07-24T17:25:45.000Z",
        "size": 5103
      },
      {
        "file": "img/vectores/tel-rosa.svg",
        "ctime": "2018-07-24T17:38:06.000Z",
        "mtime": "2018-07-24T17:38:05.000Z",
        "size": 1530
      },
      {
        "file": "img/vectores/mail-rosa.svg",
        "ctime": "2018-07-24T17:38:15.000Z",
        "mtime": "2018-07-24T17:38:14.000Z",
        "size": 1870
      },
      {
        "file": "contacto.shtml",
        "ctime": "2018-09-03T17:01:41.000Z",
        "mtime": "2018-09-03T17:01:41.000Z",
        "size": 6745
      },
      {
        "file": "img/vectores/camionbig.svg",
        "ctime": "2018-07-24T19:13:08.000Z",
        "mtime": "2018-07-24T19:13:07.000Z",
        "size": 2828
      },
      {
        "file": "politicasviaje.shtml",
        "ctime": "2018-08-17T19:24:33.000Z",
        "mtime": "2018-08-17T19:24:33.000Z",
        "size": 5243
      },
      {
        "file": "img/desc-politicas.jpg",
        "ctime": "2018-07-24T19:16:14.000Z",
        "mtime": "2018-07-24T19:16:14.000Z",
        "size": 351485
      },
      {
        "file": "img/vectores/adultos.svg",
        "ctime": "2018-07-24T19:26:34.000Z",
        "mtime": "2018-07-24T19:26:34.000Z",
        "size": 8572
      },
      {
        "file": "img/vectores/ninos.svg",
        "ctime": "2018-07-24T19:27:39.000Z",
        "mtime": "2018-07-24T19:27:38.000Z",
        "size": 16802
      },
      {
        "file": "img/vectores/palomita.svg",
        "ctime": "2018-07-24T22:50:02.000Z",
        "mtime": "2018-07-24T22:50:01.000Z",
        "size": 1085
      },
      {
        "file": "rastreo.shtml",
        "ctime": "2018-09-08T19:49:40.000Z",
        "mtime": "2018-09-08T19:49:40.000Z",
        "size": 9450
      },
      {
        "file": "img/paq-rastreo.png",
        "ctime": "2018-08-22T00:09:01.000Z",
        "mtime": "2018-08-22T00:05:14.000Z",
        "size": 112450
      },
      {
        "file": "img/slide.png",
        "ctime": "2018-07-25T16:54:52.000Z",
        "mtime": "2018-07-25T16:54:51.000Z",
        "size": 1003715
      },
      {
        "file": "img/slide2.jpg",
        "ctime": "2018-07-25T17:01:16.000Z",
        "mtime": "2018-07-25T17:01:15.000Z",
        "size": 578421
      },
      {
        "file": "img/vectores/marker-grus.svg",
        "ctime": "2018-07-25T17:31:26.000Z",
        "mtime": "2018-07-25T17:31:26.000Z",
        "size": 856
      },
      {
        "file": "img/vectores/marker-gris.svg",
        "ctime": "2018-07-25T17:31:26.000Z",
        "mtime": "2018-07-25T17:31:26.000Z",
        "size": 856
      },
      {
        "file": "js/bootstrap-datetimepicker.min.js",
        "ctime": "2018-07-25T18:23:00.000Z",
        "mtime": "2017-07-01T14:00:10.000Z",
        "size": 38510
      },
      {
        "file": "js/moment.min.js",
        "ctime": "2018-07-25T18:26:23.000Z",
        "mtime": "2018-07-25T18:26:23.000Z",
        "size": 51679
      },
      {
        "file": "css/bootstrap-datetimepicker.min.css",
        "ctime": "2018-07-25T18:24:42.000Z",
        "mtime": "2017-07-01T14:00:10.000Z",
        "size": 7785
      },
      {
        "file": "js/moment.js",
        "ctime": "2018-07-25T18:57:51.000Z",
        "mtime": "2018-07-25T18:57:51.000Z",
        "size": 146859
      },
      {
        "file": "img/vectores/calendario-gris.svg",
        "ctime": "2018-07-25T19:54:31.000Z",
        "mtime": "2018-07-25T19:54:30.000Z",
        "size": 982
      },
      {
        "file": "css/jquery-ui.css",
        "ctime": "2018-07-27T23:18:54.000Z",
        "mtime": "2018-07-27T23:18:54.000Z",
        "size": 25033
      },
      {
        "file": "img/vectores/chev-der.svg",
        "ctime": "2018-07-25T22:58:16.000Z",
        "mtime": "2018-07-25T22:58:15.000Z",
        "size": 916
      },
      {
        "file": "img/cam-boleto.png",
        "ctime": "2018-08-28T23:44:53.000Z",
        "mtime": "2018-08-28T23:14:22.000Z",
        "size": 136381
      },
      {
        "file": "compraboleto.shtml",
        "ctime": "2018-09-11T18:15:38.000Z",
        "mtime": "2018-09-11T18:15:38.000Z",
        "size": 14243
      },
      {
        "file": "img/banner-destino.jpg",
        "ctime": "2018-08-28T23:44:52.000Z",
        "mtime": "2018-08-28T23:34:36.000Z",
        "size": 35471
      },
      {
        "file": "img/vectores/estatus-corrida.svg",
        "ctime": "2018-07-26T17:36:05.000Z",
        "mtime": "2018-07-26T17:36:04.000Z",
        "size": 4870
      },
      {
        "file": "img/vectores/num-camion.svg",
        "ctime": "2018-07-26T17:43:47.000Z",
        "mtime": "2018-07-26T17:43:46.000Z",
        "size": 3162
      },
      {
        "file": "img/vectores/calendario-blanco.svg",
        "ctime": "2018-07-26T17:44:16.000Z",
        "mtime": "2018-07-26T17:44:16.000Z",
        "size": 1049
      },
      {
        "file": "img/vectores/seguro.svg",
        "ctime": "2018-07-26T18:12:38.000Z",
        "mtime": "2018-07-26T18:12:38.000Z",
        "size": 1605
      },
      {
        "file": "img/vectores/puntualidad.svg",
        "ctime": "2018-07-26T18:12:49.000Z",
        "mtime": "2018-07-26T18:12:49.000Z",
        "size": 4004
      },
      {
        "file": "img/vectores/chofer-cert.svg",
        "ctime": "2018-07-26T18:12:30.000Z",
        "mtime": "2018-07-26T18:12:30.000Z",
        "size": 5462
      },
      {
        "file": "img/van01.png",
        "ctime": "2018-07-26T18:30:26.000Z",
        "mtime": "2018-07-26T18:30:25.000Z",
        "size": 114454
      },
      {
        "file": "armatuviaje.shtml",
        "ctime": "2018-07-31T23:28:22.000Z",
        "mtime": "2018-07-31T23:28:22.000Z",
        "size": 11645
      },
      {
        "file": "img/vanFondo.png",
        "ctime": "2018-07-26T18:48:24.000Z",
        "mtime": "2018-07-26T18:48:23.000Z",
        "size": 395997
      },
      {
        "file": "img/van06.png",
        "ctime": "2018-07-26T18:52:36.000Z",
        "mtime": "2018-07-26T18:52:35.000Z",
        "size": 75230
      },
      {
        "file": "img/vectores/serv1.svg",
        "ctime": "2018-07-26T19:09:36.000Z",
        "mtime": "2018-07-26T19:09:35.000Z",
        "size": 7215
      },
      {
        "file": "img/vectores/serv2.svg",
        "ctime": "2018-07-26T19:09:43.000Z",
        "mtime": "2018-07-26T19:09:43.000Z",
        "size": 4974
      },
      {
        "file": "img/vectores/serv3.svg",
        "ctime": "2018-07-26T19:09:51.000Z",
        "mtime": "2018-07-26T19:09:50.000Z",
        "size": 4153
      },
      {
        "file": "img/vectores/serv4.svg",
        "ctime": "2018-07-26T19:09:58.000Z",
        "mtime": "2018-07-26T19:09:57.000Z",
        "size": 8502
      },
      {
        "file": "img/vectores/serv5.svg",
        "ctime": "2018-07-26T19:10:05.000Z",
        "mtime": "2018-07-26T19:10:04.000Z",
        "size": 3579
      },
      {
        "file": "img/vectores/serv6.svg",
        "ctime": "2018-07-26T19:10:14.000Z",
        "mtime": "2018-07-26T19:10:13.000Z",
        "size": 1478
      },
      {
        "file": "img/vectores/serv7.svg",
        "ctime": "2018-07-26T19:10:20.000Z",
        "mtime": "2018-07-26T19:10:20.000Z",
        "size": 5178
      },
      {
        "file": "img/vectores/serv8.svg",
        "ctime": "2018-07-26T19:10:44.000Z",
        "mtime": "2018-07-26T19:10:43.000Z",
        "size": 1846
      },
      {
        "file": "enviapaquete.shtml",
        "ctime": "2018-08-02T00:35:01.000Z",
        "mtime": "2018-08-02T00:35:01.000Z",
        "size": 10949
      },
      {
        "file": "img/cajas.png",
        "ctime": "2018-07-26T19:47:58.000Z",
        "mtime": "2018-07-26T19:47:57.000Z",
        "size": 140931
      },
      {
        "file": "img/no-transportable.jpg",
        "ctime": "2018-07-26T20:01:55.000Z",
        "mtime": "2018-07-26T20:01:55.000Z",
        "size": 96538
      },
      {
        "file": "estatuscorrida.shtml",
        "ctime": "2018-08-31T23:21:48.000Z",
        "mtime": "2018-08-31T23:21:48.000Z",
        "size": 6086
      },
      {
        "file": "destinos.shtml",
        "ctime": "2018-09-10T22:39:14.000Z",
        "mtime": "2018-09-10T22:39:14.000Z",
        "size": 23470
      },
      {
        "file": "img/vectores/asiento.svg",
        "ctime": "2018-07-30T17:47:17.000Z",
        "mtime": "2018-07-30T17:47:16.000Z",
        "size": 1691
      },
      {
        "file": "img/vectores/boleto.svg",
        "ctime": "2018-07-27T00:18:24.000Z",
        "mtime": "2018-07-27T00:18:24.000Z",
        "size": 3898
      },
      {
        "file": "css/tooltip.css",
        "ctime": "2018-09-03T19:40:21.000Z",
        "mtime": "2018-09-03T19:40:21.000Z",
        "size": 12806
      },
      {
        "file": "img/vectores/cal-der.svg",
        "ctime": "2018-07-27T20:00:55.000Z",
        "mtime": "2018-07-27T20:00:55.000Z",
        "size": 1166
      },
      {
        "file": "img/vectores/cal-izq.svg",
        "ctime": "2018-07-27T20:01:06.000Z",
        "mtime": "2018-07-27T20:01:06.000Z",
        "size": 1180
      },
      {
        "file": "img/flechas-cal.png",
        "ctime": "2018-07-27T22:57:49.000Z",
        "mtime": "2018-07-27T22:57:48.000Z",
        "size": 8650
      },
      {
        "file": "img/sprite.png",
        "ctime": "2018-07-27T23:12:27.000Z",
        "mtime": "2018-07-27T23:12:27.000Z",
        "size": 387
      },
      {
        "file": "img/Triangle.svg",
        "ctime": "2018-07-27T23:35:35.000Z",
        "mtime": "2018-07-27T23:35:35.000Z",
        "size": 675
      },
      {
        "file": "index-axel.html",
        "ctime": "2018-07-31T00:34:01.000Z",
        "mtime": "2018-07-31T00:34:01.000Z",
        "size": 460
      },
      {
        "file": "restriccionesenvio.shtml",
        "ctime": "2018-08-17T19:25:00.000Z",
        "mtime": "2018-08-17T19:25:00.000Z",
        "size": 2931
      },
      {
        "file": "img/restricciones.jpg",
        "ctime": "2018-07-31T01:02:45.000Z",
        "mtime": "2018-07-31T01:02:45.000Z",
        "size": 215342
      },
      {
        "file": "img/vectores/prohibido.svg",
        "ctime": "2018-07-31T01:05:35.000Z",
        "mtime": "2018-07-31T01:05:35.000Z",
        "size": 1425
      },
      {
        "file": "img/vectores/joyas.svg",
        "ctime": "2018-07-31T01:08:26.000Z",
        "mtime": "2018-07-31T01:08:25.000Z",
        "size": 2170
      },
      {
        "file": "img/vectores/animales.svg",
        "ctime": "2018-07-31T01:08:33.000Z",
        "mtime": "2018-07-31T01:08:32.000Z",
        "size": 8603
      },
      {
        "file": "img/vectores/arte.svg",
        "ctime": "2018-07-31T01:08:39.000Z",
        "mtime": "2018-07-31T01:08:39.000Z",
        "size": 5369
      },
      {
        "file": "img/vectores/drogas.svg",
        "ctime": "2018-07-31T01:08:54.000Z",
        "mtime": "2018-07-31T01:08:53.000Z",
        "size": 4042
      },
      {
        "file": "img/vectores/armas.svg",
        "ctime": "2018-07-31T01:09:00.000Z",
        "mtime": "2018-07-31T01:08:59.000Z",
        "size": 5574
      },
      {
        "file": "img/vectores/vinos.svg",
        "ctime": "2018-07-31T01:09:08.000Z",
        "mtime": "2018-07-31T01:09:07.000Z",
        "size": 4545
      },
      {
        "file": "css/progress.css",
        "ctime": "2018-09-04T18:30:41.000Z",
        "mtime": "2018-09-04T18:30:41.000Z",
        "size": 3322
      },
      {
        "file": "scss/progress.scss",
        "ctime": "2018-08-02T17:41:52.000Z",
        "mtime": "2018-08-02T17:41:52.000Z",
        "size": 1345
      },
      {
        "file": "cotizarenvio.shtml",
        "ctime": "2018-09-13T23:28:05.000Z",
        "mtime": "2018-09-11T18:17:50.000Z",
        "size": 12069
      },
      {
        "file": "rentavehiculo.shtml",
        "ctime": "2018-09-11T18:16:26.000Z",
        "mtime": "2018-09-11T18:16:26.000Z",
        "size": 11515
      },
      {
        "file": "img/medidas-caja.jpg",
        "ctime": "2018-08-24T21:22:57.000Z",
        "mtime": "2018-08-24T18:12:48.000Z",
        "size": 55227
      },
      {
        "file": "img/vectores/question.svg",
        "ctime": "2018-08-02T18:05:49.000Z",
        "mtime": "2018-08-02T18:05:48.000Z",
        "size": 1663
      },
      {
        "file": "scss/progress.css",
        "ctime": "2018-08-02T17:36:25.000Z",
        "mtime": "2018-08-02T17:36:25.000Z",
        "size": 1311
      },
      {
        "file": "scss/_functions.scss",
        "ctime": "2018-08-02T17:41:03.000Z",
        "mtime": "2018-04-30T15:04:32.000Z",
        "size": 2661
      },
      {
        "file": "scss/_mixins.scss",
        "ctime": "2018-08-02T17:41:03.000Z",
        "mtime": "2018-04-30T15:04:32.000Z",
        "size": 984
      },
      {
        "file": "scss/_variables.scss",
        "ctime": "2018-08-02T17:41:03.000Z",
        "mtime": "2018-04-30T15:04:32.000Z",
        "size": 37785
      },
      {
        "file": "js/custom.js",
        "ctime": "2018-09-14T16:54:23.000Z",
        "mtime": "2018-09-14T16:54:23.000Z",
        "size": 5624
      },
      {
        "file": "css/tooltip2.css",
        "ctime": "2018-08-18T19:12:45.000Z",
        "mtime": "2018-08-18T19:12:45.000Z",
        "size": 2508
      },
      {
        "file": "img/vectores/escala.svg",
        "ctime": "2018-08-17T00:34:35.000Z",
        "mtime": "2018-08-17T00:34:34.000Z",
        "size": 1533
      },
      {
        "file": "tufactura.shtml",
        "ctime": "2018-08-31T18:11:40.000Z",
        "mtime": "2018-08-31T18:11:40.000Z",
        "size": 6303
      },
      {
        "file": "img/back-compra.png",
        "ctime": "2018-08-28T23:49:42.000Z",
        "mtime": "2018-08-28T23:49:02.000Z",
        "size": 54628
      },
      {
        "file": "img/back-envio.png",
        "ctime": "2018-08-17T19:44:54.000Z",
        "mtime": "2018-08-17T19:44:53.000Z",
        "size": 43993
      },
      {
        "file": "img/back-renta.png",
        "ctime": "2018-08-17T23:03:59.000Z",
        "mtime": "2018-08-17T23:03:58.000Z",
        "size": 58853
      },
      {
        "file": "cotizarvan.shtml",
        "ctime": "2018-09-10T17:39:17.000Z",
        "mtime": "2018-09-10T17:39:17.000Z",
        "size": 12650
      },
      {
        "file": "css/wizard.css",
        "ctime": "2018-08-21T17:11:47.000Z",
        "mtime": "2018-08-21T17:11:47.000Z",
        "size": 1473
      },
      {
        "file": "css/fuelux.css",
        "ctime": "2018-08-20T18:50:54.000Z",
        "mtime": "2018-08-20T18:50:54.000Z",
        "size": 101838
      },
      {
        "file": "scss/wizard.scss",
        "ctime": "2018-08-20T19:32:43.000Z",
        "mtime": "2018-08-20T19:32:43.000Z",
        "size": 2560
      },
      {
        "file": "css/tooltip3.css",
        "ctime": "2018-08-21T19:37:18.000Z",
        "mtime": "2018-08-21T19:37:18.000Z",
        "size": 2529
      },
      {
        "file": "img/vectores/dudas.svg",
        "ctime": "2018-08-21T19:21:04.000Z",
        "mtime": "2018-08-21T19:21:03.000Z",
        "size": 773
      },
      {
        "file": "css/plusminus.css",
        "ctime": "2018-08-22T18:21:02.000Z",
        "mtime": "2018-08-22T18:21:02.000Z",
        "size": 611
      },
      {
        "file": "css/plusminus.scss",
        "ctime": "2018-08-22T17:39:53.000Z",
        "mtime": "2018-08-22T17:39:53.000Z",
        "size": 371
      },
      {
        "file": "scss/radio.scss",
        "ctime": "2018-08-22T23:12:47.000Z",
        "mtime": "2018-08-22T23:12:47.000Z",
        "size": 0
      },
      {
        "file": "scss/plusminus.scss",
        "ctime": "2018-08-22T17:39:53.000Z",
        "mtime": "2018-08-22T17:39:53.000Z",
        "size": 371
      },
      {
        "file": "css/radio.css",
        "ctime": "2018-09-10T17:49:39.000Z",
        "mtime": "2018-09-10T17:49:39.000Z",
        "size": 2784
      },
      {
        "file": "realizarcompra.shtml",
        "ctime": "2018-08-24T00:35:48.000Z",
        "mtime": "2018-08-24T00:35:48.000Z",
        "size": 23152
      },
      {
        "file": "css/jquery.steps.css",
        "ctime": "2018-08-24T00:16:32.000Z",
        "mtime": "2018-08-24T00:16:32.000Z",
        "size": 5797
      },
      {
        "file": "js/jquery.steps.js",
        "ctime": "2018-08-23T18:40:28.000Z",
        "mtime": "2018-08-23T18:40:28.000Z",
        "size": 53353
      },
      {
        "file": "img/vectores/selec-asiento.svg",
        "ctime": "2018-08-23T18:39:12.000Z",
        "mtime": "2018-08-23T18:39:12.000Z",
        "size": 2756
      },
      {
        "file": "horarios.shtml",
        "ctime": "2018-09-10T18:38:36.000Z",
        "mtime": "2018-09-10T18:38:36.000Z",
        "size": 16364
      },
      {
        "file": "datospasajeros.shtml",
        "ctime": "2018-09-10T18:15:10.000Z",
        "mtime": "2018-09-10T18:15:10.000Z",
        "size": 12313
      },
      {
        "file": "escogerasiento.shtml",
        "ctime": "2018-09-10T19:37:58.000Z",
        "mtime": "2018-09-10T19:37:58.000Z",
        "size": 4625
      },
      {
        "file": "complementos.shtml",
        "ctime": "2018-08-24T22:19:00.000Z",
        "mtime": "2018-08-24T22:19:00.000Z",
        "size": 5287
      },
      {
        "file": "realizarpago.shtml",
        "ctime": "2018-09-10T23:21:48.000Z",
        "mtime": "2018-09-10T23:21:48.000Z",
        "size": 11867
      },
      {
        "file": "img/Interior-Camion.jpg",
        "ctime": "2018-08-29T19:43:02.000Z",
        "mtime": "2018-08-29T19:43:01.000Z",
        "size": 120778
      },
      {
        "file": "img/vectores/asientoazul.svg",
        "ctime": "2018-08-24T17:42:36.000Z",
        "mtime": "2018-08-24T17:42:36.000Z",
        "size": 1522
      },
      {
        "file": "img/maleta.jpg",
        "ctime": "2018-08-24T18:37:31.000Z",
        "mtime": "2018-08-24T18:37:30.000Z",
        "size": 25179
      },
      {
        "file": "css/cards.css",
        "ctime": "2018-08-24T19:16:59.000Z",
        "mtime": "2018-08-24T19:16:59.000Z",
        "size": 1051
      },
      {
        "file": "img/21-Maletas-para-viajar.jpg",
        "ctime": "2018-08-24T18:46:30.000Z",
        "mtime": "2018-08-24T18:43:49.000Z",
        "size": 24879
      },
      {
        "file": "img/mascotasabordo.jpg",
        "ctime": "2018-08-24T18:47:23.000Z",
        "mtime": "2018-08-24T18:47:22.000Z",
        "size": 72484
      },
      {
        "file": "img/maletadocumentada.jpg",
        "ctime": "2018-08-24T18:54:59.000Z",
        "mtime": "2018-08-24T18:54:58.000Z",
        "size": 89857
      },
      {
        "file": "img/visa.jpg",
        "ctime": "2018-08-24T19:42:18.000Z",
        "mtime": "2018-08-24T19:42:17.000Z",
        "size": 6107
      },
      {
        "file": "img/mastercard.jpg",
        "ctime": "2018-08-24T19:42:25.000Z",
        "mtime": "2018-08-24T19:42:24.000Z",
        "size": 6741
      },
      {
        "file": "img/paypal.jpg",
        "ctime": "2018-08-24T19:42:31.000Z",
        "mtime": "2018-08-24T19:42:31.000Z",
        "size": 8499
      },
      {
        "file": "img/oxxo.svg",
        "ctime": "2018-08-24T19:45:59.000Z",
        "mtime": "2018-08-24T19:45:59.000Z",
        "size": 84696
      },
      {
        "file": "img/slide-autobus.jpg",
        "ctime": "2018-08-28T23:44:53.000Z",
        "mtime": "2018-08-28T23:05:19.000Z",
        "size": 208418
      },
      {
        "file": "img/slide-paquete.jpg",
        "ctime": "2018-08-24T21:14:28.000Z",
        "mtime": "2018-08-21T22:37:47.000Z",
        "size": 176481
      },
      {
        "file": "precioenvio.shtml",
        "ctime": "2018-08-24T21:31:01.000Z",
        "mtime": "2018-08-24T21:31:01.000Z",
        "size": 10759
      },
      {
        "file": "img/resumen-caja.jpg",
        "ctime": "2018-08-24T21:27:08.000Z",
        "mtime": "2018-08-24T18:27:28.000Z",
        "size": 71101
      },
      {
        "file": "preciosenvio.shtml",
        "ctime": "2018-08-30T18:05:07.000Z",
        "mtime": "2018-08-30T18:05:07.000Z",
        "size": 6236
      },
      {
        "file": "img/camionlado.png",
        "ctime": "2018-08-28T23:44:53.000Z",
        "mtime": "2018-08-28T23:07:32.000Z",
        "size": 44564
      },
      {
        "file": "img/slide-van.jpg",
        "ctime": "2018-07-25T16:55:25.000Z",
        "mtime": "2018-07-25T16:55:24.000Z",
        "size": 770791
      },
      {
        "file": "avisolegal.shtml",
        "ctime": "2018-08-30T23:08:01.000Z",
        "mtime": "2018-08-30T23:08:01.000Z",
        "size": 5006
      },
      {
        "file": "avisoprivacidad.shtml",
        "ctime": "2018-08-30T23:06:24.000Z",
        "mtime": "2018-08-30T23:06:24.000Z",
        "size": 4998
      },
      {
        "file": "terminosycondiciones.shtml",
        "ctime": "2018-08-30T19:55:25.000Z",
        "mtime": "2018-08-30T19:55:25.000Z",
        "size": 1665
      },
      {
        "file": "terminos.shtml",
        "ctime": "2018-08-30T23:07:16.000Z",
        "mtime": "2018-08-30T23:07:16.000Z",
        "size": 4981
      },
      {
        "file": "solicitartarjeta.shtml",
        "ctime": "2018-08-30T22:50:59.000Z",
        "mtime": "2018-08-30T22:50:59.000Z",
        "size": 3197
      },
      {
        "file": "img/tarjeta-slide.jpg",
        "ctime": "2018-08-30T22:36:29.000Z",
        "mtime": "2018-08-30T19:20:47.000Z",
        "size": 34854
      },
      {
        "file": "img/tarjeta-slide.png",
        "ctime": "2018-08-30T22:41:50.000Z",
        "mtime": "2018-08-30T22:39:14.000Z",
        "size": 40489
      },
      {
        "file": "img/back-tarjeta.jpg",
        "ctime": "2018-08-30T22:48:55.000Z",
        "mtime": "2018-08-30T22:48:55.000Z",
        "size": 348880
      },
      {
        "file": "solicitarfactura.shtml",
        "ctime": "2018-08-31T18:36:57.000Z",
        "mtime": "2018-08-31T18:36:57.000Z",
        "size": 3244
      },
      {
        "file": "img/vectores/tufactura.svg",
        "ctime": "2018-08-30T23:41:03.000Z",
        "mtime": "2018-08-30T23:41:02.000Z",
        "size": 2512
      },
      {
        "file": "confirmafactura.shtml",
        "ctime": "2018-08-31T18:01:18.000Z",
        "mtime": "2018-08-31T18:01:18.000Z",
        "size": 2456
      },
      {
        "file": "faq.shtml",
        "ctime": "2018-08-31T00:46:51.000Z",
        "mtime": "2018-08-31T00:46:51.000Z",
        "size": 5015
      },
      {
        "file": "css/tooltip4.css",
        "ctime": "2018-08-31T17:04:42.000Z",
        "mtime": "2018-08-31T17:04:42.000Z",
        "size": 2529
      },
      {
        "file": "m/destinos.shtml",
        "ctime": "2018-09-04T17:39:32.000Z",
        "mtime": "2018-09-04T17:39:32.000Z",
        "size": 6884
      },
      {
        "file": "m/horarios.shtml",
        "ctime": "2018-09-07T18:51:33.000Z",
        "mtime": "2018-09-07T18:51:33.000Z",
        "size": 7678
      },
      {
        "file": "m/escogerasiento.shtml",
        "ctime": "2018-09-10T18:24:42.000Z",
        "mtime": "2018-09-10T18:24:42.000Z",
        "size": 4715
      },
      {
        "file": "m/datospasajeros.shtml",
        "ctime": "2018-09-10T18:15:24.000Z",
        "mtime": "2018-09-10T18:15:24.000Z",
        "size": 12190
      },
      {
        "file": "img/mescogerasiento.jpg",
        "ctime": "2018-09-04T00:33:35.000Z",
        "mtime": "2018-09-04T00:33:35.000Z",
        "size": 91502
      },
      {
        "file": "img/msimbologia.jpg",
        "ctime": "2018-09-04T00:33:44.000Z",
        "mtime": "2018-09-04T00:33:43.000Z",
        "size": 28629
      },
      {
        "file": "m/realizarpago.shtml",
        "ctime": "2018-09-10T19:37:09.000Z",
        "mtime": "2018-09-10T19:37:09.000Z",
        "size": 11600
      },
      {
        "file": "interior.html",
        "ctime": "2018-09-06T17:29:58.000Z",
        "mtime": "2018-09-06T17:29:58.000Z",
        "size": 349451
      },
      {
        "file": "img/vectores/f1pasajeros2.svg",
        "ctime": "2018-09-08T19:48:54.000Z",
        "mtime": "2018-09-08T19:48:53.000Z",
        "size": 932
      },
      {
        "file": "graciascompra.shtml",
        "ctime": "2018-09-10T22:27:25.000Z",
        "mtime": "2018-09-10T22:27:25.000Z",
        "size": 2022
      },
      {
        "file": "centrales.shtml",
        "ctime": "2018-09-14T17:06:00.000Z",
        "mtime": "2018-09-14T17:06:00.000Z",
        "size": 2340
      },
      {
        "file": "js/google.js",
        "ctime": "2018-09-14T16:53:34.000Z",
        "mtime": "2018-09-14T16:53:34.000Z",
        "size": 84209
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}